# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
*.local

# adachi
/adachi-assets/
/adachi-lib/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.pnpm-store/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
