<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>info</title>
	<script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
	<link rel="stylesheet" href="../styles/analysis-phone.css"/>
	<link rel="stylesheet" href="https://fonts.loli.net/css?family=ZCOOL+KuaiLe|ZCOOL+QingKe+HuangYou|ZCOOL+XiaoWei&display=swap">
</head>
<body>

<div id="app"></div>


<script type="module">
	import App from "../components/analysis_phone/app.js";
	Vue.createApp( App ).mount( "#app" );
</script>
<script>
	function parseURL( url ) {
		let urlParams = url.substring( 1 ).split( "&" );
		let result = {};
		for ( let p of urlParams ) {
			const [ key, value ] = p.split( "=" );
			result[ key ] = value;
		}
		return result;
	}

	function request( url ) {
		const Http = new XMLHttpRequest();
		Http.open( "GET", url, false );
		Http.send();
		return JSON.parse( Http.responseText );
	}
	function getRandomNum(Min, Max) {
		var Range = Max - Min;
		var Rand = Math.random();
		return Min + Math.round(Rand * Range);
	}

	function sortData(a, b) {
		return Number(a.id) - Number(b.id)
	}
</script>

</body>
</html>

<style>
	#app {
		width: 800px;
	}
</style>