<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>info</title>
	<script src="../assets/js/vue@3.2.47.min.js"></script>
	<script src="../assets/js/echarts.min.js"></script>
	<link href="../assets/styles/analysis.css" rel="stylesheet"/>
</head>
<body>

<div id="app"></div>


<script type="module">
	import App from "../components/analysis/app.js";

	Vue.createApp(App).mount("#app");
</script>

</body>
</html>

<style>
	@font-face {
		font-family: GachaFont;
		src: url("../assets/fonts/GachaFont.ttf");
	}

	#app {
		width: 1700px;
		max-height: 1800px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: GachaFont, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, PingFang SC, HarmonyOS_Regular, sans-serif;
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	body {
		color: rgba(0, 0, 0, .85);
	}
</style>